<mat-card class="header-card">
  <mat-card-content
    ><h1>
      List of DDCS campaigns(Click one to view its events)
    </h1></mat-card-content
  >
</mat-card>
<mat-checkbox [(ngModel)]="hideEmpty" (change)="update()"
  >Hide empty</mat-checkbox
>

<table mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="campaignId">
    <th mat-header-cell *matHeaderCellDef>Campaign-ID</th>
    <td mat-cell *matCellDef="let row">{{ getCampaignName(row._id) }}</td>
  </ng-container>

  <ng-container matColumnDef="redMinutes">
    <th mat-header-cell *matHeaderCellDef>Minutes Red</th>
    <td mat-cell *matCellDef="let row">{{ row.totalMinutesPlayed_red }}</td>
  </ng-container>

  <ng-container matColumnDef="blueMinutes">
    <th mat-header-cell *matHeaderCellDef>Minutes Blue</th>
    <td mat-cell *matCellDef="let row">{{ row.totalMinutesPlayed_blue }}</td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef>Started</th>
    <td mat-cell *matCellDef="let row">{{ truncateTime(row.createdAt) }}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let row">{{ getCampaignId(row._id) }}</td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="[
      'campaignId',
      'redMinutes',
      'blueMinutes',
      'start',
      'id'
    ]"
  ></tr>
  <tr
    mat-row
    matRipple
    [routerLink]="['/campaign', row.campaignId]"
    *matRowDef="
      let row;
      columns: ['campaignId', 'redMinutes', 'blueMinutes', 'start', 'id']
    "
  ></tr>
</table>
