<!-- TODO make it actually change styles to indicate the hover/interactive state -->
<mat-card   >
    <mat-card-content class="cardWithIcon title-header">
        <button mat-button color="primary" class="title-button" [routerLink]="['/campaigns']"><mat-icon>expand_less</mat-icon>campaigns</button>
        <h1 class="title-text">Kills for the campaign: {{id}} on {{mapName}} as of {{getDatefromEpoch(modifiedDate)}}</h1>
    </mat-card-content>    
</mat-card>


<app-event-list [data]="events" ></app-event-list>
