@use 'sass:map';
@use '../_variables.scss' as theme;

.main-sidebar-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .main-sidebar-content {
    display: grid;
    height: 100%;
    grid-template-columns: 128px 1fr;
  }
  
  .main-sidebar {
    padding: 20px;
  }
  #main-icon-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    padding: 10px;
}

#main-icon {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 118px;
    height: 118px;
    border-radius: 10px;
    background: darken( theme.$my-app-background, 5% );
}
#main-icon:hover {
  background: map-get(theme.$my-app-primary, 500);
}
.cardWithIcon {
  display: flex;
  align-items: center;
  
}
.cardWithIcon:hover {
  background: darken( theme.$my-app-background, 2% );
}
.title-header {
  display: grid;
  gap:10px;
  grid-template-columns: 1fr 3fr;
}

