
<!-- The outer container wrapping the sidebar and the main "content" -->
<mat-sidenav-container class="main-sidebar-container">
  
  <!--The Wrapper for the sidebar-component-->
  <mat-sidenav #sidenav class="main-sidebar">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- The wrapper for the router-based changing "content"-->
  <mat-sidenav-content class="main-sidebar-content">
    <div class="container">
      <button type="button" mat-raised-button color="accent" (click)="sidenav.toggle()">
        Toggle sidenav
      </button>
      <mat-divider [inset]="true" ></mat-divider>
      works
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>



