
<!-- The outer container wrapping the sidebar and the main "content" -->
<mat-sidenav-container class="main-sidebar-container">
  
  <!--The Wrapper for the sidebar-component-->
  <mat-sidenav #sidenav class="main-sidebar">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- The wrapper for the router-based changing "content"-->
  <mat-sidenav-content class="main-sidebar-content">
    <div id="main-icon-wrapper"><img src="assets/ddcs_shield.png" id="main-icon" type="button" (click)="sidenav.toggle()"></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>



