// src/styles.scss

@use "@angular/material" as mat;
@use "_variables" as vars;
@include mat.core();
@include mat.all-component-themes(vars.$my-app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: lightgray;
  background: darken(vars.$my-app-background, 0%);
}
